* {
    font-family: Symbols Nerd Font, Noto Sans;
	font-weight: 600;
    font-size: 14.7px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

@define-color bg #20103a;
@define-color pink #ffc1e0;
@define-color red #eb8eaf;
@define-color rose #f0aec6;
@define-color purple #f2c1e4;
@define-color reddish-pink #f8b4ce;
@define-color rosewater #f2bdbd;


/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

#custom-launcher {
	margin: 7 1 5 10;
	background-color: @bg;
	border: 1.65px solid @pink;
	color: @pink; 
	padding: 4.5 8 4.5 8;
	border-radius: 13.5px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces {
	background-color: @bg;
	border-radius: 13.5px;
	border: 1.65px solid @rose;
	margin: 7 0 5 0;
	color: @red;
	padding: 2.5 5.85 2.5 5.85;
}

#workspaces button {
	color: @red;
    padding: 0 6.4px;
}

#workspaces button.active {
	color: @rose;
}

#clock {
    background-color: @bg;
	margin: 7 0 5 0;
	padding: 4.5 7 4.5 7;
	color: @purple;
	border-radius: 13.5px;
	border: 1.65px solid @purple;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#backlight {
    background-color: @bg;
	margin: 7 0 5 0;
	color: @rose;
	border: 1.65px solid @rose;
	padding: 4.5 7 4.5 7;
	border-radius: 13.5px;
}

#network {
    background-color: @bg;
	margin: 7 0 5 0;
	padding: 4.5 7 4.5 7;
	border-radius: 13.5px;
	color: @red;
	border: 1.65px solid @red;

}

#pulseaudio {
    background-color: @bg;
	color: @reddish-pink;
	padding: 4.5 7 4.5 7;
	border-radius: 13.5px;
	border: 1.65px solid @reddish-pink;
	margin: 7 0 5 0;
}


#tray {
    background-color: @bg;
	border: 1.65px solid @purple;
	padding: 4.5 10 4.5 10;
	border-radius: 13.5px;
	margin: 7 0 5 0;
}
#custom-power {
	margin: 7 7 5 0;
	color: @rosewater;
	background-color: @bg;
	border: 1.65px solid @rosewater;
	border-radius: 13.5px;
	padding: 4.5 9 4.5 11;
}


