* {
    font-family: Symbols Nerd Font, Noto Sans;
	font-weight: 600;
    font-size: 14.8px;
}

#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

@define-color bg #36278b;
@define-color purple #d0a0f6;
@define-color blue #afaef0;
@define-color pine #9cc6df;
@define-color rose #e3a6e1;
@define-color cyan #c9d6f7;
@define-color darker-pine #63a7d0;


/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
