/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #12092aff;
    background-alt: #140a2fff;
    foreground:     #C0CAF5FF;
    selected:       #9d96f4ff; 
    active:         #16111FFF;
    urgent:         #FB4934FF;
}
