}/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #211652ff;
    background-alt: #271b5eff;
    foreground:     #C0CAF5FF;
    selected:       #8881deff; 
    active:         #16111FFF;
    urgent:         #FB4934FF;
}
